/* Sidebar Stylesheet */

															/** BODY ELEMENTS **/
body {
	padding: 0 5%;
	font-size: .75em;
	text-align: center;
	}





															/** MAIN CONTAINERS **/
div#container {
	margin: 0 auto;
	text-align: left;
	}
	body.fullwidth div#container { width: 100%; }

									/** SUB CONTAINERS **/
* { }






															/** LISTS **/
* { }






															/** TYPOGRAPHY **/
body {
background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #4A7023;
}

a {
        font-weight: bold;
        border: none;
	text-decoration: none;
	color: #7F7F7F;
}
a:hover {
	border-bottom: 1px dotted #7F7F7F;
	color: #7F7F7F;
}






															/** FORMS **/
* { }






															/** END **/